
body {
    background: linear-gradient(117deg, #1d1e2c 10%, #9c528b 40.45%, #1d1e2c 90%);
    background-attachment: fixed;
    height: 100vh;
}

.container-fluid {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
    backdrop-filter: blur(10px); 
}

.content {
    width: 80%;
    margin: 0 auto;
    padding-top: 25px;
}
section {
    padding: 50px 0; 
    margin: 50px 0;
    background-color: lightgrey;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    .container {
        display: flex;
        justify-content: flex-start;
    }
}
h2 {
    margin-left: 50px;
}

p {
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    text-align: justify;
    line-height: 1.6;
}


 

footer {
    top: 150%;
    background-color: black;
    height: 100px;
    width: 100%;
    position: absolute;
}

.nomfooter {
    position: absolute;
    font-family: "Deezer-Major";
    color: #ffffff;
    margin-left: 20px;
    top: 35%;
    font-size: 20px;
}

.social-media {
    position: absolute;
    right: 2%;
    top: 35%;
}

.social-media a {
    margin: 0 10px;

}
.social-media img {
    width: 30px; 
    height: auto;
}

.social-media:hover {
    transform: scale(1.1);
}

.coeur {
    position: absolute;
    right: 6%;
    height: 40px;
    top: 29%;
}




@font-face {
    font-family: 'Deezer-Major'; 
    src: url('../TTF/Deezer-Major.ttf') format('truetype'); 
    font-weight: normal; 
    font-style: normal;  
}

