body {
    background: linear-gradient(117deg, #1d1e2c 10%, #9c528b 40.45%, #1d1e2c 90%);
    height: 100vh;
    background-attachment: fixed;
}

.container-fluid {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    margin-top: 3%; 
    width: calc(100% - 40px); 
    padding: 0 20px; 
}

.scroll-line {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 5px;
    background-color: lightskyblue;
    z-index: 10;
}
.content {
    width: 80%;
    margin: 0 auto;
    padding-top: 25px;
}
section {
    padding: 50px 0; 
    margin: 50px 0;
    background-color: lightgrey;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    .container {
        display: flex;
        justify-content: flex-start;
    }
}
h2 {
    margin-left: 50px;
}

p {
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    text-align: justify;
    line-height: 1.6;
}


 




@font-face {
    font-family: 'Deezer-Major'; 
    src: url('../TTF/Deezer-Major.ttf') format('truetype'); 
    font-weight: normal; 
    font-style: normal;  
}

