.title {
    color: white;
    font-size: 120px;
    font-family: "Deezer-Major", sans-serif;
    position: absolute;
    top: 9%;
    left: 37%;
    text-shadow: #1d1e2c 0 10px;
}

body {
    background: linear-gradient(117deg, #1d1e2c 10%, #9c528b 40.45%, #1d1e2c 90%);
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    flex-direction: column;

}

.logo {
    height: 150px;
    width: auto;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.instru {
    height: 600px;
    width: auto;
    position: absolute;
    border-radius: 30px;
    top: 0%;
    left: 120%;
}



.separateur {
    height: 2px;
    border-radius: 2px;
    background-color: white;
    width: 80%;
    position: absolute;
    margin-top: 932px;
    left: 10%;
}

.separateur1 {
    height: 2px;
    border-radius: 2px;
    background-color: white;
    width: 80%;
    position: absolute;
    margin-top: 982px;
    left: 10%;
}

.separateur2 {
    height: 2px;
    border-radius: 2px;
    background-color: white;
    width: 80%;
    position: absolute;
    margin-top: 1815px;
    left: 10%;
}

.sephor {
    height: 900px;
    border-radius: 2px;
    background-color: white;
    width: 2px;
    position: absolute;
    left: -20%;

}



.block1 {
    position: absolute;
    left: 10%;
    top: 26%;
    width: 80%;
    height: 660px;
    border-radius: 30px;
    background-image: url("../fond2.jpg");
    background-repeat: no-repeat; 
    background-position: center; 
}

.contenu2 {
    width: 30%;
    height: 700px;
    background-image: url(https://media.discordapp.net/attachments/1280919873018400841/1296455753493774346/hand-holding-purple-vinyl.jpg?ex=671848c2&is=6716f742&hm=410fe71b618897674e6643a6cedc8f8628d2975c0d462422c877e4bf853e9f52&=&format=webp&width=583&height=875);
    position: absolute;
    margin-top: 1000px;
    left: 8%;
    top: 2%;
    border-radius: 60px;
    margin-bottom: 50px;
    box-shadow: #9c528b 10px 10px 0px 10px;
}

.contenu3 {
    width: 30%;
    height: 900px;
    background-image: url(https://media.discordapp.net/attachments/1280919873018400841/1296454230910959696/3d-cartoon-character-djing-party.jpg?ex=67184757&is=6716f5d7&hm=16905db8e655b8df89fafae90c9fea84c483d350876083424e9d4120b0e35f36&=&format=webp&width=686&height=910);
    position: absolute;
    margin-top: 1880px;
    left: 60%;
    border-radius: 60px;
    margin-bottom: 50px;
    box-shadow: #9c528b 10px 10px 0px 10px;
}






@font-face {
    font-family: Deezer-Major;
    src: url(../fonts/Deezer/Deezer-Major.ttf);
}

@font-face {
    font-family: Contenu;
    src: url(../fonts/Karla/Karla-VariableFont_wght.ttf);
}



@font-face {
    font-family: Titre;
    src: url(../fonts/Protest_Strike/ProtestStrike-Regular.ttf);
}


.titre {
    font-family: "Titre";
}

.titreH {
    font-family: "Titre";
    position: absolute;
    left: 1%;
    top: 3%;
    font-size: 70px;
    color: white;
    text-shadow: #9c528b 4px 4px;
}

.titreE {
    font-family: "Titre";
    position: absolute;
    left: 1%;
    top: 3%;
    font-size: 65px;
    color: white;
    text-shadow: #9c528b 4px 4px;
    text-align: center;
}

.lienH {
    font-family: "Deezer-Major", sans-serif;
    font-size: 70px;
    color: white;
    position: absolute;
    left: 165%;
    text-align: center;
    top: 2%;
}

.lienH2 {
    font-family: "Deezer-Major", sans-serif;
    font-size: 70px;
    color: white;
    position: absolute;
    left: 165%;
    top: 55%;
    text-align: center;
}

.lienE {
    font-family: "Deezer-Major", sans-serif;
    font-size: 90px;
    color: white;
    position: absolute;
    left: -170%;
    text-align: center;
    top: 20%;
}

.lienE2 {
    font-family: "Deezer-Major", sans-serif;
    font-size: 90px;
    color: white;
    position: absolute;
    left: -170%;
    top: 73%;
    text-align: center;
}

.contenu {
    font-family: "Contenu";
}

.card-left {
    background: linear-gradient(117deg, #1d1e2c 10%, #9c528b 70.45%, #1d1e2c 90%);
    border-radius: 20px;
    padding: 20px;
    max-width: 450px;
    height: 230px;
    color: white;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.4);
    position: absolute;
    font-size: 16px;
    margin-left: 20px;
    margin-top: -80px;
}

.card-left:before {
    content: "";
    position: absolute;
    top: 20px;
    left: 10px;
    height: calc(100% - 40px);
    width: 5px;
    background-color: #ff3e61;
    border-radius: 10px;
}

.card-right {
    background: linear-gradient(117deg, #1d1e2c 10%, #9c528b 20.45%, #1d1e2c 90%);
    border-radius: 20px;
    padding: 20px;
    max-width: 450px;
    height: 250px;
    color: white;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.4);
    position: relative;
    font-size: 16px;
    left: 45%;
    margin-top: -130px;
}

.card-right:before {
    content: "";
    position: absolute;
    top: 20px;
    left: 10px;
    height: calc(100% - 40px);
    width: 5px;
    background-color: #ff3e61;
    border-radius: 10px;
}



.container-fluid {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
    backdrop-filter: blur(10px); 
}




@media (min-width: 769px) {
    .card-left {
        top: 50%;
        left: 26%;
        transform: translate(-85%, -90%);
        width: calc(50% - 60px);
        
    }

    .card-right {
        top: 50%;
        right: 25%;
        transform: translate(80%, 10%);
        width: calc(50% - 60px);
    }
}


@media (min-width: 769px) {
    .card-left, .card-right {
        width: calc(50% - 60px);
    }
}

/*boutton*/
.wrap {
    position: absolute;
    top: 0;
    left: 187%;
    bottom: 5%;
    right: 0;
    height: 100px;
    width: 200px;
    margin: auto;
  }
  
  .wrap2 {
    position: absolute;
    margin-top: 800px;
    left: 35%;
    height: 100px;
    width: 200px;
  }

  .wrap3 {
    position: absolute;
    margin-top: 470px;
    left: -120%;
    height: 100px;
    width: 200px;
  }

  .button {
    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 4px;
    display: inline-block;
    color: #ffffff;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    height: 40px;
    line-height: 40px;
    letter-spacing: 1px;
    margin: 5px;
    overflow: hidden;
    padding: 0 22px;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
  }
  .button:hover {
    background-color: #ffffff;
  }
  
  .roll-text {
    display: block;
    position: relative;
    transition: all 420ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .roll-text:last-child {
    color: #741292;
  }
  
  .rollover:hover .roll-text:first-child {
    margin-top: -41px;
  }


  /*slogan deffilant*/
  .scrolling-text {
    position: absolute;
    top: 45%; 
    left: 0;
    width: 100%;
    overflow: hidden;
    padding: 10px 0;
}

.scrolling-text p {
    display: inline-block;
    white-space: nowrap;
    color: #ffffff;
    font-size: 20px;
    font-family: 'Titre', sans-serif; 
    animation: scroll-left 7s linear infinite;
}

/* Animation pour faire défiler le texte de droite à gauche */
@keyframes scroll-left {
    0% {
        transform: translateX(500%);
    }
    100% {
        transform: translateX(-100%);
    }
}



footer {
    top: 320%;
    background-color: black;
    height: 100px;
    width: 100%;
    position: absolute;
}

.nomfooter {
    position: absolute;
    font-family: "Deezer-Major";
    color: #ffffff;
    margin-left: 20px;
    top: 35%;
    font-size: 20px;
}

.social-media {
    position: absolute;
    right: 2%;
    top: 35%;
}

.social-media a {
    margin: 0 10px;

}
.social-media img {
    width: 30px; 
    height: auto;
}

.social-media:hover {
    transform: scale(1.1);
}

.coeur {
    position: absolute;
    right: 6%;
    height: 40px;
    top: 29%;
}

/* Fait par Thomas Lorenzini et Tom Limon */

  
